@import 'tailwindcss';

body {
	@apply grid h-screen grid-cols-1 grid-rows-[auto_1fr] gap-2 bg-gray-50 p-6 font-sans text-gray-800;
	grid-template-areas:
		'header'
		'content';
	font-family: 'Inter', sans-serif;
}

kbd {
	@apply inline-block rounded-sm border border-slate-300 p-1 align-middle text-xs leading-none font-bold;
}
header {
	@apply flex items-center justify-center rounded-lg;
	grid-area: header;
}

main {
	@apply relative h-full overflow-auto rounded-lg bg-white p-4 shadow-md;
	grid-area: content;
}

.frameSelector {
	@apply grid h-full gap-2;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 12rem 1fr;
	grid-template-areas:
		'mediaLibrary mediaLibrary'
		'mediaInspector canvas';
}

.mediaLibrary {
	@apply relative h-full overflow-hidden rounded-md bg-gray-100 p-4 pt-8 shadow-inner;
	grid-area: mediaLibrary;
}

.mediaInspector {
	@apply h-full overflow-hidden rounded-md bg-gray-100 p-4 pt-8 shadow-inner;
	grid-area: mediaInspector;
}

.canvas {
	@apply relative h-full overflow-hidden rounded-md bg-gray-100 p-4 pt-8 shadow-inner;
	grid-area: canvas;
}

button {
	@apply flex cursor-pointer items-center gap-2 rounded-md border border-gray-300 bg-white px-2 py-1 text-sm font-medium text-gray-700 shadow-sm transition hover:bg-gray-100/20 hover:shadow disabled:cursor-default disabled:bg-slate-200;
}

.pane-label {
	@apply absolute top-0 left-0 z-20 flex w-full justify-between bg-gray-200 px-2 py-1 font-sans text-xs font-bold tracking-wide text-gray-700 uppercase select-none;
}

.button--ghost {
	@apply m-0 flex cursor-pointer border-0 bg-transparent p-0 shadow-none outline-0;
}

.mediaLibrary-button {
	@apply cursor-pointer bg-white p-1 transition-all hover:bg-sky-50;
}
